* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    min-height: 10vh;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav p {
    font-size: 24px;
    font-weight: 500;
}

nav li {
    font-weight: 100;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 10px;
}

.section-cont {
    width: 100%;
    min-height: 75vh;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items:center;
}

.section-cont h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 20px;
}

.section-cont p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.section-cont button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    margin-bottom: 20px;
}

.section-item-cont {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.section-one-right-div {
    width: 45%;
    margin-right: 20px;
}

.section-one-right-div {
    width: 45%;
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
    margin-left: 20px;
}

.section-two {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-two h1 {
    font-size: 40px;
    color: #1F2937;
    font-weight: 900;
}

.section-two-img-cont {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.img-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 170px;
    height: 170px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.img-card p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
}